<%
  file = ((YAML.parse File.read("posts/posts.yml"))["file"].as_s)
    .gsub(/\.md$/, "")
    .gsub(/^posts\//, "")
%>

<article class="post">
  <header>
    <h2>
      <a href="posts/<%= file %>"><%= (YAML.parse File.read("posts/posts.yml"))["title"] %></a>
    </h2>
    <% if (YAML.parse File.read("posts/posts.yml"))["abstract"] %>
      <p class="abstract">
        <%= (YAML.parse File.read("posts/posts.yml"))["abstract"] %>
      </p>
    <% end %>
  </header>
</article>
